body{
    background-color: grey;
}
/*navBar*/
#mainNav{
    padding-right: 120px;
    padding-left: 150px;
    opacity: 0.95;
    filter: alpha(opacity=95);
  }
  .nav-link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .90em;
    margin-right: 35px;
  }
  .nav-link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    margin-right: 35px;
  }
  
  @media only screen and (max-width: 1134px){
    .nav-link{
      font-size: 1.1em;
    }
  }
  @media only screen and (max-width: 1066px){
    .nav-link{
      font-size: 1em;
    }
  }
.div_container{
    align-content: center;
    height:800px;
    width:90%;
}
#resumeEmbed{
    height: 800px;
    width: 100%;
    float: left;
    padding-left:10%;
    padding-right:10%;
}
#page-header{
    height: 100px;
    width: 100%;
}
#page-left{
    width: 20px;
    height: 800px;
    float: left;
}
#page-right{
    width: 20px;
    height: 800px;
    float: right;
}

#copyright{
    font-size:12;
}
embed{
    margin-top: 12px;
}
footer{
    position: relative;
}